body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.3em;
}

a {
  color: #097659;
}

input {
  font-size: 1.5em;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 50px;
}

ul {
  padding-left: 20px;
  list-style-type: none;
}

.delete-note-link {
  color: red;
}

.editable {
  border: 1px solid black;
  padding: 20px;
}

#notes-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

/**** PAGES ****/
.page{
    display: none;
    width: 100%;
    min-height: 100%; /* allow for content off the bottom of the page */
    position: absolute;  /* or absolute if the user needs to scroll for more content */
    padding: 1rem 2rem;
}

.active{
  display: block;
}

#tasks{
    background-color: hsla(216, 45%, 65%, 0.427);
}
#projects{
    background-color: hsl(180, 50%, 80%);
}
#users{
    background-color: hsl(240, 50%, 80%);
}
#workspaces{
    background-color: hsl(144, 67%, 15%);
}
#notes{
    background-color: hsl(27, 37%, 70%);
}

h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
}